<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <style>
      @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
      @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
    </style>
  </head>
  <body>
    <div id="react-index-root"></div>
  <script type="text/javascript" src="public/bundles/index.js"></script></body>
</html>
